/* Palheta de cores
    #292929
    #DB5CE0
    #845CE0
    #A9C3F4
    #55ECED
*/
*{
    margin: 0px;
    
}

body{

    background-color: #292929;
    font-family: Georgia;
}

header{
    background-color:#3d3d3d;


    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color:#845CE0;

    height: 57px;
}



h1[id="nome"]{
    
    color:#ffffff;

    margin-left: 2%;

}

p[id="info"]{
    color:#8a8a8a;

    font-family: Georgia;
    font-size: 17px;

    text-align: center;
    
}

div[id="interface"]{

    width: 300px;
    height: 200px;

    border-width: 2px;
    border-style: solid;
    border-color: #845CE0;

    background-color:#3d3d3d;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

select[id="origem"]{
 
    background-color: #3d3d3d;
    color:#ffffff;


    border-radius: 5px;
    border-width: 1px;
    border-color: #845CE0;

}


select[id="destino"]{

    background-color: #3d3d3d;
    color:#ffffff;

    border-radius: 5px;
    border-width: 1px;
    border-color: #845CE0;

}

select[id="plano"]{

    background-color: #3d3d3d;
    color:#ffffff;

    border-radius: 5px;
    border-width: 1px;
    border-color: #845CE0;

    width:fit-content;
}


input[id="min"]{

    background-color: #3d3d3d;
    color: #ffffff;

    border-radius: 5px;
    border-color: #845CE0;
    border-style:solid;
    border-radius:5px;
    border-width:1px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


button[id="calcular"]{
    
    background-color: #3d3d3d;

    margin-top:10px;

    border-radius:5px;
    border-style: solid;
    border-color: #845CE0;

    color: #ffffff;
}


p[id="valor"]{

    color:#ffffff;
    font-family: Georgia;

    margin-top:111px;
}


p[id="valorS"]{

    color:#ffffff;
    font-family: Georgia;
}