/* Palheta de cores
    #292929
    #DB5CE0
    #845CE0
    #A9C3F4
    #55ECED
*/
*{
    margin: 0px;
    
}

body{

    background-color: #292929;
    font-family: Georgia;
}

header{
    background-color:#3d3d3d;


    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color:#845CE0;

    height: 57px;
}



h1[name="nome"]{
    
    color:#ffffff;

    margin-left: 2%;

}

p[name="info"]{
    color:#8a8a8a;

    font-family: Georgia;
    font-size: 17px;

    text-align: center;
    
}

div[name="interface"]{

    height: 200px;
    width: 200px;

    border-width: 1px;
    border-style: solid;
    border-color: #845CE0;

    background-color:#3d3d3d;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

select[name="Origem"]{
 
    background-color: #3d3d3d;
    color:#ffffff;


    border-radius: 5px;
    border-width: 1px;
    border-color: #845CE0;

}


select[name="Destino"]{

    background-color: #3d3d3d;
    color:#ffffff;

    border-radius: 5px;
    border-width: 1px;
    border-color: #845CE0;



}


input[type="number"]{

    background-color: #3d3d3d;
    color: #ffffff;

    border-radius: 5px;
    border-color: #845CE0;
    border-style:solid;
    border-radius:5px;
    border-width:1px;

}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


button[name="Calcular"]{
    
    background-color: #3d3d3d;

    margin-top:10px;

    border-radius:5px;
    border-style: solid;
    border-color: #845CE0;

    color: #ffffff;
}


p[name="Valor"]{
    color:#ffffff;
    font-family: Georgia;

    margin-top:91px;
}


p[name="ValorS"]{
    color:#ffffff;
    font-family: Georgia;
}